<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The sites description">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/modal.css')}}">
	<title>Tests</title>
</head>
<body>
	<div class="theHeader mdl-layout mdl-js-layout">
	  <header class="mdl-layout__header">
	    <div class="mdl-layout__header-row">
	      <span class="mdl-layout-title">Everybody Lies</span>
	      <div class="mdl-layout-spacer"></div>
	      <nav class="mdl-navigation">
	        <a class="mdl-navigation__link" href="{{url_for('index')}}">Home</a>
	        <a class="mdl-navigation__link modal__trigger" data-modal="#patientHistory">Patient File</a> 
	        <a class="mdl-navigation__link" href="{{url_for('rules')}}">Instructions</a>
	        <a class="mdl-navigation__link" href="{{url_for('logout')}}">Logout</a>
	      </nav>
	    </div>
	  </header>
	  <div class="mdl-layout__drawer">
	  	<span class="mdl-layout-title drawerTitle">Everybody Lies</span>
	    <img src="{{url_for('static',filename='image/user.png')}}" class="user-avatar">
	    <nav class="mdl-navigation">
	    <a class="mdl-navigation__link" href="{{url_for('index')}}">Home</a>
	     <a class="mdl-navigation__link" href="{{url_for('rules')}}">Instructions</a>
	     <a class="mdl-navigation__link" href="{{url_for('logout')}}">Logout</a>
	     <a class="mdl-navigation__link modal__trigger" data-modal="#patientHistory">Patient File</a>  
	    </nav>
	  </div>
	  <div id="welcomeToast" class="mdl-js-snackbar mdl-snackbar">
		  <div class="mdl-snackbar__text"></div>
		  <button class="mdl-snackbar__action" type="button"></button>
	  </div>
	  <main class="mdl-layout__content">
	  <div id="patientHistory" class="modal modal__bg">
				        <div class="modal__dialog">
				          <div class="modal__content">
				            <div class="modal__header">
				              <div class="modal__title">
				                <h2 class="modal__title-text">Results</h2>
				              </div>
				            </div>
				            <div class="modal__text">
				              <p>
				               Name:{{patient.name}}
				              </p>
				              <p>
				               Age:{{patient.age}}
				               </p>
				               History:{{patient.history}}
				               </p>
				               Description:{{patient.description}}
				            </div>
				            <div class="modal__footer">
				              <a class="mdl-button mdl-button--colored mdl-js-button  modal__close">
				                Close
				              </a>
				    	</div>
				 	</div>
				</div>
			</div>  		
	  	<div class="cover">
	  		<h2 class="coverHeader">Consultations</h2>
		  	<div class="notepad">
		  		<div class="lines"></div>
		  		<ul class="list">
		  			<li>

		  				{%if stage|int > 1%}
	  					<span class="left"><a href="{{url_for('treat',stage=stage|int-1,patient_name=patient_name)}}"><i class="material-icons">keyboard_arrow_left</i></a></span>
	  					{%endif%}
	  					{%if progress.stage > stage|int%}
						<span class="right"><a href="{{url_for('treat',stage=stage|int+1,patient_name=patient_name)}}"><i class="material-icons">keyboard_arrow_right</i></a></span>
						{%endif%}
		  			</li>
		  			<li class="center">
		  				<a><span class="modal__trigger" data-modal="#testResults">
					  		Patient Log
						</span></a>
						
		  			</li>
					<li class="center"><h4>{{mcq.question}}</h4></li>  
					<form action="" method="POST">
					{{mcq_form.hidden_tag()}}
					{{mcq_form.options(class_="mdl-radio__button")}}
					{{mcq_form.submit(class_="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored")}}
					</form>
					<li> 
					</li>
					<li>  
					</li>
					<li>    
					</li>
					<li>    
					</li>
					<li>    
					</li>
		  		</ul>
		  	</div>
	  	</div>
	  	{%for message in get_flashed_messages()%}
	  	<div id="snackbar" >{{message}}</div>
	  	{%endfor%}
	  </main>
	  <footer class="mdl-mini-footer">
	  <div class="mdl-mini-footer__left-section">
	    <ul class="mdl-mini-footer__link-list">
	      <li><a href="https://github.com/catatonia">Beer And LIT</a></li>
	      <li><a href="https://www.youtube.com/watch?v=QK8mJJJvaes">BMESI</a></li>
	    </ul>
	  </div>
	</footer>
	</div>
	<div id="testResults" class="modal modal__bg">
        <div class="modal__dialog">
          <div class="modal__content">
            <div class="modal__header">
              <div class="modal__title">
                <h2 class="modal__title-text">Results</h2>
              </div>
            </div>
            <div class="modal__text">
               {%for log in logs%}
               <br>{{log}}
               {%endfor%}
            </div>
            <div class="modal__footer">
              <a class="mdl-button mdl-button--colored mdl-js-button  modal__close">
                Close
              </a>
            </div>
          </div>
        </div>
      </div>
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>  
<script type="text/javascript" src="js/backstretch.min.js"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/modal.js')}}"></script>
<script type="text/javascript">
$(document).ready(function () {
	function myFunction() {
	    // Get the snackbar DIV
	    var x = document.getElementById("snackbar")

	    // Add the "show" class to DIV
	    x.className = "show";

	    // After 3 seconds, remove the show class from DIV
	    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
	}
	myFunction();
});
</body>
</html>