<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The sites description">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/modal.css')}}">
	<title>Rules</title>
</head>
<body>
	<div class="theHeader mdl-layout mdl-js-layout">
	  <header class="mdl-layout__header">
	    <div class="mdl-layout__header-row">
	      <span class="mdl-layout-title">Everybody Lies</span>
	      <div class="mdl-layout-spacer"></div>
	      <nav class="mdl-navigation">
	        <a class="mdl-navigation__link" href="{{url_for('index')}}">Home</a>
	        <a class="mdl-navigation__link" href="{{url_for('rules')}}">Instructions</a>
	        <a class="mdl-navigation__link" href="{{url_for('logout')}}">Logout</a>
	      </nav>
	    </div>
	  </header>
	  <div class="mdl-layout__drawer">
	  	<span class="mdl-layout-title drawerTitle">Everybody Lies</span>
	    <img src="{{url_for('static',filename='image/user.png')}}" class="user-avatar">
	    <nav class="mdl-navigation">
	      <a class="mdl-navigation__link" href="{{url_for('index')}}">Home</a>
	        <a class="mdl-navigation__link" href="{{url_for('rules')}}">Instructions</a>
	        <a class="mdl-navigation__link" href="{{url_for('logout')}}">Logout</a>
	    </nav>
	  </div>
	  <div id="welcomeToast" class="mdl-js-snackbar mdl-snackbar">
		  <div class="mdl-snackbar__text"></div>
		  <button class="mdl-snackbar__action" type="button"></button>
	  </div>
	  <main class="mdl-layout__content">  		
	  	<div class="cover">
	  		<h2 class="coverHeader">Instructions</h2>
		  	<div class="notepad">
		  		<div class="lines"></div>
		  		<ul class="list">
					<li class="center">
						<h2>Instructions</h2>  
					</li>
					<li>
					Patients of varying difficulty levels will be added from time to time.    
					<li>
					The diagnostic process will involve trivia questions because you get distracted easily    
					</li>
					<li> 
					All patients have a trivia question in the beginning that must be answered.To prove yourself worthy. Subsequent trivia questions are just bonus points  
					</li>
					<li>    
					You will be scored on the first option  you chonse during the diagnostic testing process.You may return to do these operations at any time to gather information
					</li>
					<li>    
					A patient file and log is available at all times for you to keep track.
					</li>
					<li>  
					We reserve the right to ban anyone who is considered to be cheating.This includes duplicate accounts,collusion and any activity that is deemed to be a threat to the event.
					</li>
					<li>  
					Happy Diagnosing.
					</li>
					<li>    
					</li>
					<li>    
					</li>
					<li>    
					</li>
		  		</ul>
		  	</div>
	  	</div>
	  </main>
	   <footer class="mdl-mini-footer">
	  <div class="mdl-mini-footer__left-section">
	    <div class="mdl-logo"></div>
	    <ul class="mdl-mini-footer__link-list">
	      <li><a href="https://github.com/catatonia">Beer And LIT</a></li>
	      <li><a href="https://www.youtube.com/watch?v=QK8mJJJvaes">BMESI</a></li>
	    </ul>
	  </div>
	</footer>
	</div>
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>  
<script type="text/javascript" src="{{url_for('static',filename='js/backstretch.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/modal.js')}}"></script>
</body>